.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.marginBottom {
  margin-bottom: 10px;
}